# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiohttp=3.9.5=pypi_0
aiosignal=1.3.1=pypi_0
altair=5.3.0=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.4.0=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
attrs=23.2.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
blinker=1.8.2=pypi_0
bzip2=1.0.8=hcfcfb64_5
ca-certificates=2024.3.11=haa95532_0
cachetools=5.3.3=pypi_0
certifi=2024.2.2=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
colorama=0.4.6=pyhd8ed1ab_0
comm=0.2.2=pyhd8ed1ab_0
contourpy=1.2.1=pypi_0
cycler=0.12.1=pypi_0
debugpy=1.6.7=py312hd77b12b_0
decorator=5.1.1=pyhd8ed1ab_0
diskcache=5.6.3=pypi_0
distro=1.9.0=pypi_0
docker=7.1.0=pypi_0
entrypoints=0.4=pypi_0
exceptiongroup=1.2.0=pyhd8ed1ab_2
executing=2.0.1=pyhd8ed1ab_0
expat=2.6.2=h63175ca_0
faker=25.2.0=pypi_0
favicon=0.7.0=pypi_0
flaml=2.1.2=pypi_0
fonttools=4.52.1=pypi_0
frozenlist=1.4.1=pypi_0
gitdb=4.0.11=pypi_0
gitpython=3.1.43=pypi_0
greenlet=3.0.3=pypi_0
h11=0.14.0=pypi_0
htbuilder=0.6.2=pypi_0
httpcore=1.0.5=pypi_0
httpx=0.27.0=pypi_0
idna=3.7=pypi_0
importlib-metadata=7.1.0=pyha770c72_0
importlib_metadata=7.1.0=hd8ed1ab_0
ipykernel=6.29.3=pyha63f2e9_0
ipython=8.24.0=pyh7428d3b_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.4=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.22.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter_client=8.6.2=pyhd8ed1ab_0
jupyter_core=5.5.0=py312haa95532_0
kiwisolver=1.4.5=pypi_0
krb5=1.21.2=heb0366b_0
langchain=0.2.2=pypi_0
langchain-core=0.2.4=pypi_0
langchain-openai=0.1.8=pypi_0
langchain-text-splitters=0.2.1=pypi_0
langsmith=0.1.71=pypi_0
libexpat=2.6.2=h63175ca_0
libffi=3.4.4=hd77b12b_1
libsodium=1.0.18=h8d14728_1
libsqlite=3.45.3=hcfcfb64_0
lxml=5.2.2=pypi_0
markdown=3.6=pypi_0
markdown-it-py=3.0.0=pypi_0
markdownlit=0.0.7=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.9.0=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
mdurl=0.1.2=pypi_0
more-itertools=10.2.0=pypi_0
multidict=6.0.5=pypi_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
numpy=1.26.4=pypi_0
openai=1.30.3=pypi_0
openssl=3.3.0=h2466b09_3
orjson=3.10.3=pypi_0
packaging=23.2=pypi_0
pandas=2.2.2=pypi_0
parso=0.8.4=pyhd8ed1ab_0
pickleshare=0.7.5=py_1003
pillow=10.3.0=pypi_0
pip=24.0=pyhd8ed1ab_0
platformdirs=4.2.2=pyhd8ed1ab_0
prometheus-client=0.20.0=pypi_0
prompt-toolkit=3.0.43=py312haa95532_0
protobuf=4.25.3=pypi_0
psutil=5.9.0=py312h2bbff1b_0
pure_eval=0.2.2=pyhd8ed1ab_0
pyarrow=16.1.0=pypi_0
pyautogen=0.2.27=pypi_0
pydantic=2.7.1=pypi_0
pydantic-core=2.18.2=pypi_0
pydeck=0.9.1=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pymdown-extensions=10.8.1=pypi_0
pyparsing=3.1.2=pypi_0
python=3.12.3=h1d929f7_1
python-dateutil=2.9.0post0=py312haa95532_2
python-dotenv=1.0.1=pypi_0
pytz=2024.1=pypi_0
pywin32=306=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.2=py312hd77b12b_0
referencing=0.35.1=pypi_0
regex=2024.5.15=pypi_0
requests=2.32.2=pypi_0
rich=13.7.1=pypi_0
rpds-py=0.18.1=pypi_0
setuptools=70.0.0=pyhd8ed1ab_0
six=1.16.0=pyh6c4a22f_0
smmap=5.0.1=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=2.0.30=pypi_0
sqlite=3.45.3=hcfcfb64_0
st-annotated-text=4.0.1=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
streamlit=1.35.0=pypi_0
streamlit-camera-input-live=0.2.0=pypi_0
streamlit-card=1.0.2=pypi_0
streamlit-embedcode=0.1.2=pypi_0
streamlit-extras=0.4.2=pypi_0
streamlit-faker=0.0.3=pypi_0
streamlit-image-coordinates=0.1.6=pypi_0
streamlit-keyup=0.2.4=pypi_0
streamlit-toggle-switch=1.0.2=pypi_0
streamlit-vertical-slider=2.5.5=pypi_0
tenacity=8.3.0=pypi_0
termcolor=2.4.0=pypi_0
tiktoken=0.7.0=pypi_0
tk=8.6.14=h0416ee5_0
toml=0.10.2=pypi_0
toolz=0.12.1=pypi_0
tornado=6.4=pypi_0
tqdm=4.66.4=pypi_0
traitlets=5.14.3=pyhd8ed1ab_0
typing-extensions=4.12.0=pypi_0
typing_extensions=4.11.0=pyha770c72_0
tzdata=2024.1=pypi_0
ucrt=10.0.22621.0=h57928b3_0
urllib3=2.2.1=pypi_0
validators=0.28.3=pypi_0
vc=14.3=ha32ba9b_20
vc14_runtime=14.38.33135=h835141b_20
vs2015_runtime=14.38.33135=h22015db_20
watchdog=4.0.1=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
wheel=0.43.0=pyhd8ed1ab_1
xz=5.4.6=h8cc25b3_1
yarl=1.9.4=pypi_0
zeromq=4.3.5=he1f189c_4
zipp=3.17.0=pyhd8ed1ab_0
zlib=1.2.13=h8cc25b3_1
